.about-me {
  padding: 15px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 35% 65%;
  background-color: #21325e88;
  border-radius: 20px;
}

.about-me-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-img img {
  width: 90%;
  margin-right:15px;
  border-radius: 2em;
}

.about-me-details {
  color: white;
  padding:50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #21325e88;
  border-radius: 20px;
}

.about-me-details p {
  color: white;
  float: left;
  text-align: start;
}


@media screen and (max-width: 767px) {
  .about-me {
    padding: 15px;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 100%;
    background-color: #21325e88;
    border-radius: 20px;
  }
  .about-me-img img {
    width: 100%;
    border-radius: 2em;
    margin-right:0px;
    margin-bottom:20px;
  }
  .about-me-details {
    color: white;
    padding: 20px;
  } 
}