/* Footer.css */

.footer {
  color: #21325e;
  /* color: #fff; */
  padding: 20px 0;
  text-align: center;
  font-style: italic;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  /* Style your social icons as needed */
}

.social-icons a {
  margin: 0 5px;
}

p {
  text-align: center;
}
