.skills {
  display: flex;
  justify-content: center;
}

.ant-card-head-title{
  font-size:36px;
  padding:20px;
  color:#21325e;
}
.item > h3 {
  color:#21325e;
}
.ant-card{
  margin-top:20px;
  margin-bottom:20px;
}

@media screen and (max-width: 767px) {
  .ant-card{
    width: 90% !important;
    white-space: normal !important;
    margin-top:40px;
    margin-bottom:40px;
  }
  .ant-card-head-title{
    font-size:30px;
  }
  .item > h3 {
    font-size:24px;
  }
}