.skills {
  display: flex;
  justify-content: center;
}

.ant-card-head-title{
  font-size:36px;
  padding:20px;
  color:#21325e;
}
.item > h3 {
  color:#21325e;
}
.ant-card{
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 0px 0px 20px 0 rgba(43, 156, 156, 0.625), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02) !important;
}



@media screen and (max-width: 767px) {
  .ant-card{
    width: 90% !important;
    white-space: normal !important;
    margin-top:40px;
    margin-bottom:40px;
  }
  .ant-card-head-title{
    font-size:30px;
  }
  .item > h3 {
    font-size:24px;
  }
}